p {
  text-align: center;
  color: red;
}
body {
	background: salmon;
	font-family: sans-serif;
}
#header {
  color: green;
}
.about {
  text-align: center;
  color: blue;
}

.left {
	text-align: left;
.green {
	color: green;
}
.attention {
	font-weight: bold;
